* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 10px;
}

a {
    color: purple
    text-decoration: underline;
}

a:hover {
    color: palevioletred
}

div {
    padding: 70px;
}